html {
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 1rem;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}


/* -----------------window-------------------- */
.window {
    width: 42.75rem;
    height: 30.25rem;
    min-width: 18rem;
    border-radius: 1.5em;
    z-index: 1;
    position: absolute;
    top: 10%;
    left: 20%;
    transition: none;
    display: none;
    overflow: hidden;
}

.window.finder {
    background-color: #fff;
}

.window.active {
    display: block;
    /* transition: all 0.8s ease; */
}

.window.weather.active {
    display: flex;
}

.window.animating {
    transition: all 0.4s ease;
}

.window .header {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border-bottom: 2px solid #E6E6E6;
}

.window.is-closing {
    opacity: 0;
    transform: scale(0.9);
    transition: all 0.25s ease;
}

.window.is-minimizing {
    transform: scale(0.25) translateY(100vh);
}


.window.is-zoomed .resize-handle {
    pointer-events: none;
}

/* -----------------window buttons-------------------- */
.remote {
    width: 4rem;
    height: 1rem;
    position: absolute;
    padding: 1em;
    display: flex;
    justify-content: space-between;
}

.remote>.buttons {
    width: 1rem;
    height: 1rem;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    border-radius: 100%;
    box-sizing: border-box;
    position: relative;
    /* margin-left: 0.5em; */
}

.buttons.close {
    background-color: #ff736a;
    cursor: pointer;
}

.buttons.minimize {
    background-color: #FEBC2E;
    cursor: pointer;
}

.buttons.zoom {
    background-color: #19C332;
    cursor: pointer;
}

.remote:hover .buttons.close::after {
    content: url('../images/close.png');
    position: absolute;
    bottom: 0%;
    left: 27%;
}

.remote:hover .buttons.minimize::after {
    content: url('../images/minimize.png');
    position: absolute;
    bottom: 17%;
    left: 17%;
}


.remote:hover .buttons.zoom::after {
    content: url('../images/zoom.png');
    position: absolute;
    bottom: 12%;
    left: 30%;
    scale: 1.2;
}

/* -----------------window resize-------------------- */
.resize-handle {
    position: absolute;
    background: transparent;
}

.top {
    top: 0;
    left: 50%;
    width: 100%;
    height: 0.5rem;
    cursor: ns-resize;
    transform: translateX(-50%);
}

.bottom {
    bottom: 0;
    left: 50%;
    width: 100%;
    height: 0.5rem;
    cursor: ns-resize;
    transform: translateX(-50%);
}

.left {
    left: 0;
    top: 50%;
    width: 0.5rem;
    height: 100%;
    cursor: ew-resize;
    transform: translateY(-50%);
}

.right {
    right: 0;
    top: 50%;
    width: 0.5rem;
    height: 100%;
    cursor: ew-resize;
    transform: translateY(-50%);
}

.top-left {
    top: 0;
    left: 0;
    width: 0.75rem;
    height: 0.75rem;
    cursor: nwse-resize;
}

.top-right {
    top: 0;
    right: 0;
    width: 0.75rem;
    height: 0.75rem;
    cursor: nesw-resize;
}

.bottom-left {
    bottom: 0;
    left: 0;
    width: 0.75rem;
    height: 0.75rem;
    cursor: nesw-resize;
}

.bottom-right {
    bottom: 0;
    right: 0;
    width: 0.75rem;
    height: 0.75rem;
    cursor: nwse-resize;
}


/* -----------------window header-------------------- */
.directory {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.75em 5em;
}

.folder-icon {
    width: 1.5rem;
    height: 1.5rem;
    background-size: contain;
    /* background-image: url('../images/folder.png'); */
    background-repeat: no-repeat;
    padding-right: 0.5em;
}

/* -----------------finder content-------------------- */
.content {
    display: flex;
    height: calc(100% - 3.125rem);
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.finder-columns {
    flex: 0 0 auto;
    min-width: 12rem;
    list-style: none;
    margin: 0;
    border-right: 1px solid #dcdcdc;
    background: transparent;
}

.folder {
    height: 2.25rem;
    cursor: pointer;
    padding: 0.5em;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.list-picture {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5em;
}

.folder.selected {
    background-color: #007aff;
    color: #fff;
}

/* -----------------finder preview-------------------- */
.finder-preview {
    min-width: 25rem;
    flex: 1 1;
    width: 16.25rem;
    border-right: none;
}

.preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

.preview>img {
    max-width: 16rem;
    max-height: 12rem;
    margin-bottom: 2em;
}

.window.finder .preview>.property-container {
    display: flex;
    flex-direction: column;
}

.window.finder .preview-closeBtn {
    display: none;
    background: none;
    border: none;
    color: #000;
    font-size: 1.2rem;
    position: relative;
    right: 0;
    cursor: pointer;
}

.property-container>.property {
    display: flex;
    margin-left: -1em;
    margin-bottom: 0.8em;
    line-height: 1.5em;
}

.property>.key {
    max-width: 4rem;
    color: #999;
    margin-right: 0.5em;
    text-align: right;
}

.property>.value {
    flex-shrink: 1;
}

/* -----------------Calculator-------------------- */
.window.calculator {
    max-width: 14.5rem;
    max-height: 25.5rem;
    min-width: 14.5rem;
    background-color: #fafafa;
    border-radius: 1rem;
    box-shadow:
        0 0 0 1px rgba(0, 0, 0, 0.2),
        inset 0 0 2px 1px rgba(255, 255, 255, 0.25),
        0 16px 48px rgba(0, 0, 0, 0.35);
    overflow: hidden;
    user-select: none;
    position: absolute;
}

.window.calculator .header {
    width: 100%;
    height: 3rem;
    background-color: #1E1E1E;
    border: none;
}

.window.calculator .header .remote .zoom {
    background-color: #656565;
    cursor: default;
}

.window.calculator .remote:hover .buttons.zoom::after {
    content: none !important;
}

/* 계산기 내부 */
.calculator .content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.calculator .display {
    position: relative;
    width: 100%;
    height: 4.5rem;
    background-color: #1E1E1E;
    color: #fff;
    box-sizing: border-box;
    padding: 0 0.5em;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    scrollbar-width: thin;
}

.calculator .display-inner {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    width: max-content;
    min-width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.calculator .display .formula,
.calculator .display .current {
    display: block;
    text-align: right;
}

.calculator .display .formula {
    font-size: 1.5rem;
    color: #999;
    margin-bottom: 0.3rem;
    min-height: 1.8rem;
}

.calculator .display .current {
    font-size: 2rem;
    flex-shrink: 0;
}

.calculator .display-blur {
    position: absolute;
    top: 3rem;
    bottom: 0;
    width: 100%;
    height: 4.5rem;
    pointer-events: none;
    z-index: 10;
}

.calculator .display-blur::before,
.calculator .display-blur::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 0.5rem;
    pointer-events: none;
    z-index: 2;
}

/* 왼쪽: 어둡게 → 투명 */
.calculator .display-blur::before {
    left: 0;
    background: linear-gradient(to right, rgba(30, 30, 30, 0.95), rgba(30, 30, 30, 0.3), transparent);
}

/* 오른쪽: 어둡게 ← 투명 */
.calculator .display-blur::after {
    right: 0;
    background: linear-gradient(to left, rgba(30, 30, 30, 0.95), rgba(30, 30, 30, 0.3), transparent);
}

/* JS에서 추가할 클래스에 따라 보이게 함 */
.calculator .display.show-left::before {
    opacity: 1;
}

.calculator .display.show-right::after {
    opacity: 1;
}

.calculator .content .buttons {
    display: grid;
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-columns: repeat(4, minmax(0, 1fr));
    align-items: center;
    justify-items: center;
    height: calc(100% - 7.5rem);
    background: #1E1E1E;
    box-sizing: border-box;
}

.calculator .content .buttons .btn {
    width: 3rem;
    height: 3rem;
    aspect-ratio: 1 / 1;
    color: #fff;
    font-size: 1.5rem;
    background: #474747;
    border-radius: 5rem;
    border: none;
    box-shadow:
        0 2px 2px rgba(0, 0, 0, 0.1),
        0 0 0 1px rgba(255, 255, 255, 0.35),
        inset 0 0 2px 0 rgba(255, 255, 255, 0.15);
    cursor: pointer;
}

.calculator .buttons .btn.grey {
    background-color: #717171;
}

.calculator .buttons .btn.orange {
    background-color: #FF9200;
}

.calculator .buttons .btn:active {
    background: #ddd;
}

/* -----------------Weather-------------------- */
.window.weather {
    width: 25rem;
    height: 52rem;
    border-radius: 1rem;
    background: linear-gradient(to bottom, #4a90e2, #50cfd0);
    color: #fff;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    flex-direction: column;
    box-shadow:
        0 0 0 1px rgba(0, 0, 0, 0.2),
        inset 0 0 2px 1px rgba(255, 255, 255, 0.25),
        0 16px 48px rgba(0, 0, 0, 0.35);
}

.window.weather .header {
    width: 100%;
    height: 3rem;
    background-color: transparent;
    border: none;
    position: relative;
}

.window.weather .header .remote .buttons.zoom {
    background-color: #656565;
    cursor: default;
}

.window.weather .remote:hover .buttons.zoom::after {
    content: none !important;
}

.window.weather .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;
}

/* 현재 날씨 */
.weather-current {
    text-align: center;
    padding: 1.5rem;
}

.weather-current .location {
    font-size: 1.2rem;
}

.weather-current .temp {
    font-size: 4rem;
    font-weight: 700;
    margin: 0.3rem 0;
}

.weather-current .condition {
    font-size: 1rem;
    opacity: 0.9;
    margin-bottom: 0.5rem;
}

.weather-current .hi-low {
    font-size: 0.9rem;
    opacity: 0.8;
}

/* 시간별 예보 */
.weather-hourly {
    margin: 0.5rem 1rem;
    background-color: rgba(255, 255, 255, 0.25);
    box-sizing: border-box;
    border-radius: 1rem;
    padding: 1rem;
}

.weather-hourly .hourly-summary {
    width: 80%;
    height: 3rem;
    margin-bottom: 1rem;
    font-size: 0.95rem;
    text-align: left;
    white-space: break-spaces;
    line-height: 1.2;
    position: relative;
}

.weather-hourly .hourly-summary::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 125%;
    height: 0.1rem;
    background: rgba(255, 255, 255, 0.4);
}

.weather-hourly .hourly-scroll {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 1rem;
    scrollbar-width: none;
}

.weather-hourly .hour-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 3.5rem;
}

.weather-hourly .hour-block .hour {
    font-size: 0.875rem;
    font-weight: medium;
}

.weather-hourly .hour-block img {
    width: 3rem;
    height: 3rem;
    margin: 0.3rem 0;
}

.weather-hourly .hour-block .htemp {
    font-size: 0.875rem;
    font-size: 1rem;
    font-weight: medium;
    margin-top: 0.1rem;
}

/* 일별 예보 */
.weather-daily {
    flex: 1;
    margin: 0.5rem 1rem 1rem;
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 1rem;
}

.weather-daily .daily-header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.weather-daily .daily-header .daily-title {
    font-size: 0.875rem;
    font-weight: normal;
}

.weather-daily .daily-header img.daily-icon {
    width: 1.5rem;
    height: 1.5rem;
}

.weather-daily .day-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0.5rem;
    height: 2.5rem;
    position: relative;
}

.weather-daily .day-block:last-child {
    margin-bottom: 0;
}

.weather-daily .day-block::after {
    content: '';
    position: absolute;
    top: -0.25rem;
    left: 0;
    width: 100%;
    height: 0.1rem;
    border-radius: 2rem;
    background: rgba(255, 255, 255, 0.4);
}

.weather-daily .day-block img {
    width: 2.5rem;
    height: 2.5rem;
}

.weather-daily .day-block .bar {
    width: 10rem;
    height: 0.4rem;
    position: relative;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 0.2rem;
    overflow: hidden;
}

.weather-daily .day-block .bar .fill {
    position: absolute;
    top: 0;
    bottom: 0;
    border-radius: 0.2rem;
    background: linear-gradient(to right, #fff, #dff6ff);
    transition: all 0.3s ease;
}

/* -----------------main-------------------- */
main {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.app-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 32rem;
    padding: 1em;
    background-color: rgba(246, 246, 246, 0.36);
    border: 1px solid rgba(246, 246, 246, 0.46);
    border-radius: 1rem;
    backdrop-filter: blur(0.5rem);
}

.app-grid>h2 {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.app {
    all: unset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 8rem;
    height: 8rem;
}

.app:hover {
    background-color: rgba(79, 79, 79, 0.6);
    border-radius: 0.5em;
}

.app .app-name {
    color: #fff;
}

.icon-picture {
    width: 4rem;
    height: 4rem;
    margin-bottom: 0.5em;
}

.app-name {
    color: #000;
}

/* -----------------dock-------------------- */

.dock {
    display: flex;
    width: 100vw;
    height: 5rem;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px);
    padding: 0.5em 1.5em;
    border-radius: 1rem;
    position: fixed;
    bottom: 0;
    box-sizing: border-box;
}

.dock-start {
    color: #fff;
    font-size: 1.3rem;
    font-weight: bold;
    margin-right: 1.875em;
}

.dock-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 4rem;
}

.dock-icon {
    all: unset;
    width: 3rem;
    height: 3rem;
    margin-right: 2em;
    position: relative;
}

.dock-icon.active::after {
    content: "";
    position: absolute;
    bottom: 0.3rem;
    top: 110%;
    left: 50%;
    transform: translateX(-50%);
    width: 0.35rem;
    height: 0.35rem;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
}

.dock-icon>img {
    width: 3rem;
    height: 3rem;
}

.dock-clock {
    color: #fff;
    font-weight: 500;
    position: absolute;
    right: 1em;
    text-shadow: 0px 0.25em 0.25em rgba(0, 0, 0, 0.5);
}


/* -------------------------------
* Tablet
-------------------------------- */
@media (min-width: 768px) and (max-width: 1023px) {
    .app-grid {
        max-width: 32rem;
    }
}

/* -------------------------------
* mobile
-------------------------------- */
@media (max-width: 767px) {

    /* -------------------------------
     * Window
    -------------------------------- */
    .window {
        width: 100vw;
        height: calc(100vh - 5rem);
        top: 0;
        left: 0;
        border-radius: 0 !important;
        box-shadow: none !important;
    }

    .window.finder .content {
        display: flex;
        overflow-x: hidden;
        position: relative;
    }

    .window.finder .content .finder-preview {
        min-width: 100%;
    }

    .window.finder .content .finder-columns {
        flex: 0 0 100%;
        min-width: 100%;
        max-width: 100%;
    }

    .window.finder .preview-closeBtn {
        display: block;
    }

    /* -------------------------------
     * calculator
    -------------------------------- */
    .window.calculator {
        min-width: 100vw;
        max-width: 100vw;
        max-height: calc(100vh - 5rem);
    }

    .window.calculator .content {
        height: calc(100% - 3rem);
    }

    .window.calculator .display-blur {
        height: 15rem;
    }

    .window.calculator .display {
        height: 15rem;
    }

    .window.calculator .display-inner {
        justify-content: center;
    }

    .window.calculator .display .current {
        font-size: 3rem;
    }

    .window.calculator .content .buttons {
        height: calc(100% - 15rem);
    }

    .window.calculator .buttons .btn {
        width: 5rem;
        height: 5rem;
    }

    /* -------------------------------
     * weather
    -------------------------------- */
    .window.weather {
        width: 100%;
        height: calc(100% - 5rem);
    }

    /* -------------------------------
     * app-grid
    -------------------------------- */
    .app-grid {
        width: 16rem;
        border: none;
        background: none;
        backdrop-filter: blur(0);
    }

    .dock {
        z-index: 10000;
        border-radius: 0;
    }

    .dock-start {
        font-size: 1rem;
    }

    .dock-icon {
        display: none;
    }

    .dock-clock {
        display: none;
    }
}



/*
// https://design-zia.vercel.app/mac-os-dock

// https://www.danielprior.dev/
// https://www.reddit.com/r/developersIndia/comments/1k4kyg4/i_built_a_macosstyle_developer_portfolio_in_the/?tl=ko
// https://github.com/daprior/danielprior-macos
 */